
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');


* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "Big Shoulders", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: hsl(0, 0, 100%);
}

header {
    position: fixed;
    width: 100%;
    background-color: hsl(147, 63%, 46%);
    top: 0;
    display: flex;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* color: hsl(0, 0, 100%); */
    font-size: 22px;
    margin-left: 22em;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    
}

#Sign {
    /* width: 100px; */
    padding: 10px 20px ;
    color: hsl(140, 64%, 36%);
    background-color: hsl(0, 0%, 100%);
    font-size: 20px;
    border: 1px solid hsl(0, 0%, 100%) ;
}

/* .toggle {
    display: none;
    width: 0%;
} */

.hamburger{ 
    display: none;
}

main {
    margin-top: 100px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 50%;
    margin-right: 40px;
}


#join {
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 30px;
}

.donate {
    border: 1px solid hsl(147, 63%, 46%);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: hsl(147, 63%, 46%);
    color:  hsl(0, 0, 100%);
}
.donate1 {
    border: 1px solid hsl(147, 63%, 46%);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: hsl(0, 0%, 100%);
    color:  hsl(147, 63%, 46%);
}

.donate:hover {
    background-color: white;
    color: hsl(147, 63%, 46%);
   
}
.donate1:hover {
    background-color: hsl(147, 63%, 46%);
    color: hsl(0, 0%, 100%);
}
.right {
    width: 50%;
}

#ill {
    width: 100%;
    border-radius: 10px;
}

.bottom {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}

.box {
    display: flex;
    width: 32%;
    align-items: center;
    background-color:hsla(0, 0%, 100%);
    /* margin-right: 10px; */
    padding: 0 10px;
    box-shadow: 0 0 5px -2px hsl(0, 0%, 0%);
}

.second {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

#featured {
    font-size: 35px;
}

.john {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    
}

.john img {
    margin-right: 50px;
} 

.story {
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.third {
    display: flex;
    flex-direction: column;
    margin: 60px 0 30px;
    width: 100%;
}

#ways {
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
}

.box1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.help {
    height: 100px;
}

.medical {
    width: 20%;
}

.white {
    border: 2px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 90%);
    height: 10px;
    border-radius: 50px;
    width: 80%;
    position: relative;
    margin: 20px 0;
}

.green {
    background-color: hsl(147, 63%, 46%);
    width: 50%;
    position: absolute;
    height: 10px;
    border-radius: 50px;
    
}

.fourth {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 30px 0;
}

.events {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    
}

.event {
    width: 28%;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%);
    box-shadow: 0 0 5px -2px hsl(0, 0%, 0%);
    padding-bottom: 2em;
    
}
.img1 {
    width: 100%;
    border-radius: 5px;
    height: 180px;
    margin-bottom: 1em;
}
.down {
    padding-left: 15px;
}
.charity {
    margin: 10px 0;
    font-size: 25px;
}
.cal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clock {
    display: flex;
    margin: 10px 0;
    align-items: center;
    gap: 10px;
}

#quote {
    font-size: 16px;
    margin: 0px 0 30px;
}

#learn {
    border: 1px solid  hsl(147, 63%, 46%);
    padding: 10px 20px;
    background-color: hsl(147, 63%, 46%);
    color: hsl(0, 0%, 100%);
    margin: 20px 0;
}

footer {
    width: 100%;
    background-color: hsl(147, 63%, 46%);
    color: hsl(0, 0%, 100%);
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
}

ul li {
    list-style-type: none;
    padding: 7px;
    font-size: 18px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#news {
    padding-bottom: 10px;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    header {
        margin-left: 0;
        padding: 20px 40px;
        display: flex;
        width: 100%;
    }

    nav {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        font-size: 20px;
        margin-left: 150px;
    }
      
    nav a{
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        width: 100%;
    }

    main {
        padding: 20px 40px;
    }

    .first  img {
        height: 350px;
    }

    .events {
        display: flex;
        flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }


    .event {
            width: 45%;
            /* margin-top: 3%; */
        }

        footer {
            padding: 50px 30px;
        }
    
}

@media screen and (max-width: 750px) {
    header {
       
        padding: 15px 50px;

       
       
    }

    .navlink {
        position: absolute;
        top: 70px;
        background-color: hsl(147, 63%, 46%);
        right: 0;
        display: flex;
        width: 200px;
        height: 300px;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        visibility: hidden;
        /* pointer-events: none; */
    }
    .navlink.show{
        visibility: visible;
        transform: translateY(-10px);
        transition: transform ease-in .3s, transform ease-out .3s;
        cursor: pointer;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    main {
        padding: 50px;
        
    }

    .up, .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        /* justify-content: flex-start;
        align-items: flex-start; */
    }

    #join {
        /* font-size: 35px; */
        margin-bottom: 20px;
    }

    #don {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .left, .right {
        padding: 0;
        margin: 0;
        width: 100%;
       
    }

    #ill {

        margin: 40px 0;
    }

    .box {
        width: 100%;
        padding: 20px ;
        gap: 20px;
    }

    .john {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .box1 {
        flex-wrap: wrap;
        gap: 10px;
    }

    .medical {
        width: 150px;
    }

    .events {
        flex-direction: column;
        gap: 30px;
    }
     .event {
        width: 100%;
    }


  footer {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    footer div {
        margin: 10px;}


}