@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Big Shoulders", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: hsl(0, 0, 100%);
}

header {
    position: fixed;
    width: 100%;
    background-color: hsl(147, 63%, 46%);
    top: 0;
    display: flex;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0, 100%);
    font-size:22px;
     margin-left: 22em;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    
}

#Sign {
    /* width: 100px; */
    padding: 10px 20px ;
    color: hsl(140, 64%, 36%);
    background-color: hsl(0, 0%, 100%);
    font-size: 16px;
     border: 1px solid hsl(0, 0%, 100%);
}

.hamburger{ 
    display: none;
}

main {
    width: 100%;
    margin: 100px 0 50px;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.first {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.ways {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.ways h1 {
    font-size: 35px;
    font-weight: 700;
}

ol {
    margin: 20px 0;
    list-style-position: inside;
    font-size: 22px;
    padding: 5px;
    line-height: 35px;
}

li::marker {
    color: hsl(140, 91%, 21%);
    
}

.account {
     width: 100%;
    display: flex;
    align-items: flex-start; 
    gap: 30px;
    /* flex-direction: column; */
    font-size: 22px;
    line-height: 35px;
}

.second {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#donate {
     width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
    line-height: 35px
}

 #donate h1 {
    padding: 10px 0;
}

#your {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
    line-height: 35px;
    margin: 20px;
}

ul {
    list-style-position: inside;
}

footer {
    width: 100%;
    background-color: hsl(147, 63%, 46%);
    color: hsl(0, 0%, 100%);
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
}

#ul1 li {
    list-style-type: none;
    padding: 7px;
    font-size: 18px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#news {
    padding-bottom: 10px;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    header {
        margin-left: 0;
        padding: 20px 40px;
        display: flex;
        width: 100%;
    }

    nav {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        font-size: 20px;
        margin-left: 150px;
    }
   

  

        footer {
            padding: 50px 30px;
        }
    
}




@media screen and (max-width: 750px) {
    header {
       
        padding: 15px 30px;
       
    }

    .navlink {
        position: absolute;
        top: 70px;
        background-color: hsl(147, 63%, 46%);
        right: 0;
        display: flex;
        width: 200px;
        height: 300px;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        visibility: hidden;
        /* pointer-events: none; */
    }
    .navlink.show{
        visibility: visible;
        transform: translateY(-10px);
        transition: transform ease-in .3s, transform ease-out .3s;
        cursor: pointer;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    main {
        padding: 30px;
    }

    .account {
        flex-direction: column;
    }
  footer {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    footer div {
        margin: 10px;}

}