@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "Big Shoulders", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
     background: linear-gradient(to bottom, hsl(140, 64%, 36%), hsla(140, 64%, 36%, 0.361));
    /* background-color: hsl(0, 0, 100%); */
}

header {
    position: fixed;
    width: 100%;
    /* background-color: hsl(147, 63%, 46%); */
    background-color: hsl(0, 0%, 100%);
    top: 0;
    display: flex;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* color: hsl(0, 0, 100%); */
    font-size: 22px;
     margin-left: 22em;
}

a {
    text-decoration: none;
    /* color: hsl(0, 0%, 100%); */
    color: hsl(140, 64%, 36%);
}

#Sign {
    /* width: 100px; */
    padding: 10px 20px ;
    background-color: hsl(140, 64%, 36%);
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    border: 1px solid hsl(140, 64%, 36%);
}

.hamburger{ 
    display: none;
}

main {
   background-color: hsl(0, 0%, 100%);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin-top: 120px;
}

h1 {
    /* color: hsl(0, 0%, 100%); */
    color: hsl(0, 0%, 0%);
    font-size: 35px;
    font-weight: 700;
}

h2 {
    /* color: hsl(0, 0%, 100%); */
    color: hsl(0, 0%, 0%);
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
}
.form {
    display: flex;
    flex-direction: column;
    
}

#name, #email, #Message, #send {
    border-radius: 3px;
    margin-top: 8px;
    padding: 8px;
    border: 1px solid hsl(0, 0%, 0%);
}

#Message {
    height: 150px;
    
}

footer {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    color: hsl(147, 63%, 46%);
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
}

ul li {
    list-style-type: none;
    padding: 7px;
    font-size: 18px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#news {
    padding-bottom: 10px;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    header {
        margin-left: 0;
        padding: 20px 40px;
        display: flex;
        width: 100%;
    }

    nav {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        font-size: 20px;
        margin-left: 150px;
    }
   
    main {
        width: 350px;
    }

  

        footer {
            padding: 50px 30px;
        }
    
}


@media screen and (max-width: 750px) {
    header {
       
        padding: 15px 30px;
       
    }

    .navlink {
        position: absolute;
        top: 70px;
        background-color: hsl(0, 0%, 100%);
        right: 0;
        display: flex;
        width: 200px;
        height: 300px;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        visibility: hidden;
        /* pointer-events: none; */
    }
    .navlink.show{
        visibility: visible;
        transform: translateY(-10px);
        transition: transform ease-in .3s, transform ease-out .3s;
        cursor: pointer;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    main {
        width: 300px;
         align-items: center;
    justify-content: center;
    }

    footer {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    footer div {
        margin: 10px;
    }
}


